<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

<section class="header">
    <h1>Analyse causale automatique</h1>
    <h2>Détection des arguments causaux dans le texte naturel</h2>
    <br>
</section>

<div id="input_box" style="padding: 20px 10px 20px 10px;">
<form method="POST">
    <div class="centering">
       <textarea rows="10" cols="112" name="text"> </textarea>
       <br>
       <br>
       <input type="submit" class="search" onclick="output box">
    </div>
</form>
</div>

 <div id="output_box" class="output_box">
  {% for n in range(output_text| length) %}
    {% if (n in reason_indices) and (n in result_indices) %}
     <mark class="green"> {{output_text[n]}} </mark> &nbsp;
    {% elif n in reason_indices %}
     <mark class="yellow"> {{ output_text[n]}} </mark> &nbsp;
    {% elif n in result_indices %}
     <mark class="blue"> {{ output_text[n]}} </mark> &nbsp;
    {% else %}
      {{ output_text[n]}} &nbsp;
    {% endif %}
  {% endfor %}

<br>
<br>
<br>

  {% if (reason_indices| length > 0) or (result_indices| length > 0) %}
   <legend>
    <i>Legend:  <mark class="yellow"> Argument de raison </mark> &nbsp &nbsp  <mark class="blue"> Arguments de résultats </mark></i>
   </legend>
  {% endif %}

</div>

</body>
</html>





